In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
def promising(col, i):
    for k in range(i):
        if col[i] == col[k] or abs(col[i] - col[k]) == abs(i - k):
            return False
    return True

def estimate_n_queens(n):
    col = np.zeros(n, dtype=int)
    i = 0
    numnodes = 1
    m = 1
    mprod = 1
    
    while m != 0 and i != n:
        mprod = mprod * m
        numnodes = numnodes + mprod * n 
        i += 1
        m = 0
        prom_children = []

        for j in range(n):
            col[i-1] = j
            if promising(col, i-1):
                m += 1
                prom_children.append(j)
        
        if m != 0:
            j = np.random.choice(prom_children)
            col[i-1] = j

    return numnodes

In [3]:
def run_estimate(n_range=(4, 20), times=30, file_path="monte-carlo-nqueens.csv"):
    csv_file_path = file_path
    file_exists = os.path.isfile(csv_file_path)
    for n in range(n_range[0], n_range[1] + 1):
        for _ in range(times):
            estimated = estimate_n_queens(n)
            df = pd.DataFrame([{
                'n': n,
                'estimate': estimated
            }])
            df.to_csv(csv_file_path, mode='a', index=False, header=not file_exists)
            file_exists = True
    return csv_file_path

In [4]:
result_file_path = run_estimate(times=1000)

In [5]:
df = pd.read_csv(result_file_path)
df

        n         estimate
0       4               53
1       4               53
2       4               53
3       4               85
4       4               53
...    ..              ...
16995  20  204911580956821
16996  20   63848585210421
16997  20   53921228293221
16998  20   23869889468821
16999  20  113422658809221

[17000 rows x 2 columns]

In [6]:
df['n'].value_counts()

n
4     1000
13    1000
19    1000
18    1000
17    1000
16    1000
15    1000
14    1000
12    1000
5     1000
11    1000
10    1000
9     1000
8     1000
7     1000
6     1000
20    1000
Name: count, dtype: int64

In [7]:
means = df.groupby('n')['estimate'].mean()
means

n
4     6.093600e+01
5     2.199750e+02
6     9.016360e+02
7     3.580982e+03
8     1.555287e+04
9     7.235661e+04
10    3.516471e+05
11    1.784101e+06
12    1.032144e+07
13    5.870294e+07
14    3.797167e+08
15    2.502189e+09
16    1.809241e+10
17    1.460908e+11
18    1.024789e+12
19    8.958360e+12
20    7.634461e+13
Name: estimate, dtype: float64